/[CP] A Toned Down Stardew Valley/

/[CP] Ana's Dark Wood Sign and Worm Bin/

/[CP] Antique TV Sets/

/[CP] Better Crops and Foraging/

/[CP] Dark Wood Slime Craftables/

/[CP] Darker Wood and Gold Craftables/

/[CP] FloweryBin/

/[CP] Mal's Rival Heart Events/

/[CP] Medieval Buildings by Gweniaczek/

/[CP] Mermaids Replace Mariner/

/[CP] Niko's Portraits/

/[CP] Ran's Hearts/

/[CP] Retextured Resources/

/[CP] Seasonal Crystal Lightning Rod/

/[CP] Seasonal Fences/

/[CP] Seasonal Floorings/

/[CP] Seasonal Villager Outfits/

/[CP] Shardust's Hedges/

/[CP] Suitcase Record Player/

/[CP] Terracotta Garden Pots/

/[CP] Twiistrz Owl Scarecrow/

/[CP] v1.4 Misc Recolour/

/[CP] Vanilla Machine Descriptions/

/[CP] Vintage Interface V2/

/[CP] Warm Cozy Fireplace/

/[CP] ZBetter Water/